<div class="author">
    <figure class="author-avatar"><img class="avatar-image" src="{{asset "/images/DSCN6049-1.JPG"}}" alt=""></figure>
    <header class="author-name">{{author.name}}</header>
    <p class="author-bio">{{author.bio}}</p>
    {{#if author.location}} <p><small>{{author.location}}</small></p> {{/if}}
</div>